<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "cl.preder.foromovil"
    version   = "1.0.0">
  <name>Foro Preder</name>
  <description>Foro Preder</description>
  <author href="http://www.preder.cl" email="soporte@preder.cl">Preder Ltda</author>
  <preference name="target-device" value="universal" />
  <preference name="load-url-timeout" value="60000" />
  <preference name="webviewbounce" value="false" />
  <preference name="exit-on-suspend" value="true" />
  <preference name="phonegap-version" value="2.9.0" />
  
  <access origin="*" />
  
  <feature name="http://api.phonegap.com/1.0/file"/>
  <feature name="http://api.phonegap.com/1.0/camera"/> 
  <feature name="http://api.phonegap.com/1.0/media"/>
  <feature name="http://api.phonegap.com/1.0/network"/>
  <feature name="http://api.phonegap.com/1.0/notification"/>  
  <feature name="http://api.phonegap.com/1.0/device"/>
  <plugin name="File" value="org.apache.cordova.FileUtils" />
<plugin name="FileTransfer" value="org.apache.cordova.FileTransfer" />

</widget>
